<section class=" w-full bg-base-100 text-white py-4">

    <div class="container px-4 lg:px-0 max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="flex bg-neutral py-2 rounded-3xl">
                <div class="left px-3 py-3 w-full flex flex-col justify-between">
                    <p class="title-name">Land Rover Discovery 2022</p>
                    <p class="price-tag">
                        R20 000.00 pm
                    </p>
                </div>
                <div class="right relative w-full flex justify-end">
                    <img src="../../../assets/images/cars/inner-car.png" alt="" >
                </div>
            </div>
            <div class="flex bg-neutral py-2 rounded-3xl">
                <div class="left px-3 py-3 w-full flex flex-col justify-between">
                    <p class="title-name">Alfa Romeo V3 2019</p>
                    <p class="price-tag">
                        R15 000.00 pm
                    </p>
                </div>
                <div class="right relative w-full flex justify-end">
                    <img src="../../../assets/images/cars/image-1.png" alt="" >
                </div>
            </div>
            <div class="flex bg-neutral py-2 rounded-3xl">
                <div class="left px-3 py-3 w-full flex flex-col justify-between">
                    <p class="title-name">AUDI Q2 2018</p>
                    <p class="price-tag">
                        R12 000.00 pm
                    </p>
                </div>
                <div class="right relative w-full flex justify-end">
                    <img src="../../../assets/images/cars/colored-car.png" alt="" >
                </div>
            </div>
            


        </div>
    </div>
</section>