<header id="nav" class="bg-transparent absolute top-0 w-full border-b border-neutral z-50">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="../../../assets/images/Logotype.svg">
            </a>
        </div>
        <div class="flex lg:hidden">
            <div class="drawer">
                <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content">
                    <!-- Page content here -->
                    <label for="my-drawer" class="btn btn-ghost drawer-button">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </label>
                </div>
                <div class="drawer-side w-full">
                    <label for="my-drawer" class="drawer-overlay"></label>


                    <ul class="menu p-4 w-80 h-full text-base-content backdrop-blur-lg ">
                        <!-- Sidebar content here -->
                        <img src="../../../assets/images/Logotype.svg" alt="" class="self-start">
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>Cars</a></li>
                        <li><a>Contact us</a></li>
                        <li><a href="#"
                                class="mt-8 bg-primary px-4 py-1 w-fit text-white rounded-lg">Our
                                Newsletter</a></li>

                    </ul>


                </div>
            </div>
        </div>
        <div class="hidden lg:flex lg:gap-x-12 place-items-center">
            <a href="#" class="text-sm font-semibold leading-6 text-white">Home</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">About</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Cars</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Contact us</a>
            <a href="#"
                class="text-sm font-semibold leading-6 bg-primary px-4 py-1 text-white ml-10 flex flex-col gap-0 rounded-lg place-items-end">Our
                Newsletter</a>
        </div>

    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->


</header>